### IMPORT NECESSARY LIBRARIES

In [2]:
# Import necessary libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

### LOAD DATASET

In [3]:
df = pd.read_excel(r"C:\Users\Black Concept\WorkSpace\HAMOYE TAG ALONG CODES\HAMOYE--TAG-ALONG-CODES\PRACTISE CODES\Datasets\HouseData.xlsx")

### EXPLORE DATASET

In [4]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,zipcode,lat,long
0,629000615,20141022T000000,1495000,4,3.25,3070,10375,2.0,No,No View,Average,10,1962,98004,47.5862,-122.198
1,4141800215,20141126T000000,1495000,4,3.75,3770,4000,2.5,No,No View,Very Good,9,1916,98122,47.6157,-122.287
2,6448000020,20150129T000000,1490000,4,2.50,2420,18480,1.0,No,No View,Good,9,1967,98004,47.6214,-122.227
3,9522300010,20150331T000000,1490000,3,3.50,4560,14608,2.0,No,Average,Average,12,1990,98034,47.6995,-122.228
4,31000165,20140911T000000,1490000,5,3.50,3620,7821,2.0,No,Average,Average,10,1958,98040,47.5738,-122.215

In [5]:
df.shape

(21060, 16)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21060 entries, 0 to 21059
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           21060 non-null  int64
 1   date         21060 non-null  object
 2   price        21060 non-null  int64
 3   bedrooms     21060 non-null  int64
 4   bathrooms    21060 non-null  float64
 5   sqft_living  21060 non-null  int64
 6   sqft_lot     21060 non-null  int64
 7   floors       21060 non-null  float64
 8   waterfront   21060 non-null  object
 9   view         21060 non-null  object
 10  condition    21060 non-null  object
 11  grade        21060 non-null  int64
 12  yr_built     21060 non-null  int64
 13  zipcode      21060 non-null  int64
 14  lat          21060 non-null  float64
 15  long         21060 non-null  float64
dtypes: float64(4), int64(8), object(4)
memory usage: 2.6+ MB

In [7]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,grade,yr_built,zipcode,lat,long
count,2.106000e+04,2.106000e+04,21060.000000,21060.000000,21060.000000,2.106000e+04,21060.000000,21060.000000,21060.000000,21060.000000,21060.000000,21060.000000
mean,4.591327e+09,5.002696e+05,3.343162,2.077991,2019.486942,1.474301e+04,1.484924,7.590123,1970.919943,98078.383761,47.558542,-122.213544
std,2.877902e+09,2.465775e+05,0.882395,0.729351,822.018441,3.995697e+04,0.538113,1.095947,29.265667,53.406460,0.139776,0.141789
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1.000000,1900.000000,98001.000000,47.155900,-122.519000
25%,2.125057e+09,3.199500e+05,3.000000,1.500000,1410.000000,5.001000e+03,1.000000,7.000000,1951.000000,98033.000000,47.465700,-122.330000
50%,3.905030e+09,4.450000e+05,3.000000,2.250000,1890.000000,7.553500e+03,1.000000,7.000000,1975.000000,98065.000000,47.569200,-122.231000
75%,7.334500e+09,6.250000e+05,4.000000,2.500000,2490.000000,1.045400e+04,2.000000,8.000000,1996.000000,98118.000000,47.678925,-122.123000
max,9.900000e+09,1.495000e+06,7.000000,6.750000,7480.000000,1.651359e+06,3.500000,12.000000,2015.000000,98199.000000,47.777600,-121.315000

### DATA PREPROCESSING

In [8]:
# Check for missing values
df.isna().sum()

id             0
date           0
price          0
bedrooms       0
bathrooms      0
sqft_living    0
sqft_lot       0
floors         0
waterfront     0
view           0
condition      0
grade          0
yr_built       0
zipcode        0
lat            0
long           0
dtype: int64

In [9]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'yr_built', 'zipcode', 'lat', 'long'],
      dtype='object')

In [10]:
# Encoding categorical variables
categorical_variables = ['waterfront', 'view', 'condition']

# Create an instance of label encoder
label_encoder = LabelEncoder()

# For loop for encoding labels
for category in categorical_variables:
    df[category] = label_encoder.fit_transform(df[category])

In [11]:
# Check to confirm the encoding made
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,zipcode,lat,long
0,629000615,20141022T000000,1495000,4,3.25,3070,10375,2.0,0,4,0,10,1962,98004,47.5862,-122.198
1,4141800215,20141126T000000,1495000,4,3.75,3770,4000,2.5,0,4,4,9,1916,98122,47.6157,-122.287
2,6448000020,20150129T000000,1490000,4,2.50,2420,18480,1.0,0,4,2,9,1967,98004,47.6214,-122.227
3,9522300010,20150331T000000,1490000,3,3.50,4560,14608,2.0,0,0,0,12,1990,98034,47.6995,-122.228
4,31000165,20140911T000000,1490000,5,3.50,3620,7821,2.0,0,0,0,10,1958,98040,47.5738,-122.215

In [12]:
# Split the dataset into target and features

# depend variable
y = df['price']

# independent variables
x = df.drop(['id', 'date', 'price', 'lat', 'long'], axis=1)

In [13]:
# Check y
y.head()

0    1495000
1    1495000
2    1490000
3    1490000
4    1490000
Name: price, dtype: int64

In [14]:
# Check x
x.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,zipcode
0,4,3.25,3070,10375,2.0,0,4,0,10,1962,98004
1,4,3.75,3770,4000,2.5,0,4,4,9,1916,98122
2,4,2.50,2420,18480,1.0,0,4,2,9,1967,98004
3,3,3.50,4560,14608,2.0,0,0,0,12,1990,98034
4,5,3.50,3620,7821,2.0,0,0,0,10,1958,98040

In [15]:
# Split the features and targets into training and test
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

### MODEL TRAINING

In [16]:
# Fit the model to the training data

# Select model
model = LinearRegression()

# Fit Model
model.fit(x_train,y_train)

LinearRegression()

### MODEL EVALUATION

In [17]:
# Predict the target values for the features dataset
y_prediction = model.predict(x_test)

In [18]:
# Convert the predicted values to a dataframe and merge it to the y_test
predicted_price = pd.DataFrame(y_prediction, columns=['predicted price'])
features_and_prediction = x_test.merge(predicted_price,how='inner', left_index=True, right_index=True)

In [19]:
# view our data to see the predicted prices
features_and_prediction.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,zipcode,predicted price
1493,4,2.25,2530,9200,1.0,0,4,4,9,1976,98006,397168.821162
2714,3,3.00,2630,10156,1.0,0,4,2,9,1987,98006,486231.942193
1512,6,3.00,3020,13783,2.0,0,4,0,8,1952,98040,305577.892485
2393,5,2.75,2990,6768,2.0,0,4,0,9,2014,98006,235632.971421
4186,4,2.50,3830,4644,2.0,0,4,0,8,2004,98065,617493.289820

In [20]:
# Append the y_test prices to the dataframe above to see the original vs predicted price

# Convert y_test to a dataframe and append to the dataframe
original_price = pd.DataFrame(y_prediction, columns=['original price'])
original_predicted_prices_df = features_and_prediction.merge(y_test,how='inner', left_index=True, right_index=True)

In [21]:
# print the head to see the df created
original_predicted_prices_df.head(30)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,zipcode,predicted price,price
1493,4,2.25,2530,9200,1.0,0,4,4,9,1976,98006,397168.821162,902000
2714,3,3.00,2630,10156,1.0,0,4,2,9,1987,98006,486231.942193,778000
1512,6,3.00,3020,13783,2.0,0,4,0,8,1952,98040,305577.892485,900000
2393,5,2.75,2990,6768,2.0,0,4,0,9,2014,98006,235632.971421,802541
4186,4,2.50,3830,4644,2.0,0,4,0,8,2004,98065,617493.289820,679975
3707,4,3.50,2850,2910,2.0,0,0,0,8,1905,98115,439076.952453,710000
3375,3,1.75,1650,5000,1.5,0,4,2,8,1900,98107,482482.037727,730000
3488,3,2.00,2050,3933,1.0,0,4,0,8,1926,98112,691204.822249,724800
3268,4,2.75,2260,12005,1.0,0,4,2,8,1956,98005,437092.667985,738950
1580,4,3.00,3240,5562,2.0,0,4,0,10,2013,98075,302600.426630,895000
2361,3,1.00,1440,10330,1.0,0,4,2,7,1952,98004,293372.286963,805500
474,4,3.50,3400,3850,2.5,0,4,0,10,2008,98112,902865.499752,1198000
385,5,3.25,3240,6551,1.5,0,1,2,9,1939,98115,373429.924216,1234580
4044,4,3.00,3400,292723,2.0,0,4,0,10,1998,98045,265093.945363,688000
843,4,1.00,3410,5000,2.0,0,4,4,8,1910,98144,407823.740683,1039000
1692,5,4.25,4720,18741,2.0,0,4,0,11,2005,98053,384718.477476,875000
640,4,1.50,2310,13300,1.0,0,4,0,7,1950,98004,497140.870549,1110000
1087,3,3.00,1850,5000,1.5,0,4,1,6,1900,98107,645869.897849,975000
4049,4,3.00,3000,4000,1.5,0,3,0,8,1913,98144,382467.245158,688000
3434,3,1.00,1000,19969,1.0,0,4,0,7,1951,98033,360951.167472,725000
2622,4,2.50,2960,4750,2.0,0,4,0,9,2005,98029,420819.647213,785000
2946,4,1.75,2770,8521,1.0,0,4,2,7,1953,98004,555572.894981,760000
4140,3,2.25,2270,23900,1.0,0,4,0,9,1975,98177,617772.358044,680000
4191,4,3.50,3420,49223,2.0,0,4,0,9,2004,98010,873388.213115,679000
1719,4,3.50,2850,4416,1.5,0,4,0,7,1926,98103,375169.507167,875000
3405,4,2.50,3290,5951,2.0,0,4,0,9,2003,98075,459655.807240,728000
1427,5,2.75,2580,7630,1.0,0,4,2,7,1954,98004,483853.271511,915000
3316,3,2.25,1490,1212,2.0,0,4,0,9,2011,98112,392678.280116,735000
718,3,2.50,3720,11610,2.0,0,4,0,11,1982,98074,459199.999519,1080000
447,4,3.50,3930,43560,2.0,0,4,0,10,2003,98072,336348.180751,1200000

From the above, we can see that the model is not close to predicting the prices accurately and we will confirm this when we evaluate our model

In [22]:
# Evaluate the model using mean square error
mse = mean_squared_error(y_test, y_prediction)
mse

23440850910.93753

In [23]:
# Evaluate the model using r_squared
r2_score = r2_score(y_test, y_prediction)
round(r2_score, 3)

0.595