### IMPORT NECESSARY LIBRARIES

In [2]:
# Import necessary libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

### LOAD DATASET

In [3]:
df = pd.read_csv(r"C:\Users\Black Concept\WorkSpace\HAMOYE TAG ALONG CODES\HAMOYE--TAG-ALONG-CODES\Tag Along Projects Codes\Stage 2- Machine Learning_Regression\energydata_complete.csv")

### EXPLORE DATASET

In [4]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
df.shape

(19735, 29)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [7]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

### DATA PREPROCESSING

In [8]:
# Check for missing values
df.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [9]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

    Column details

Date, time year-month-day hour:minute:second

Appliances, energy use in Wh 

lights, energy use of light fixtures in the house in Wh

T1, Temperature in kitchen area, in Celsius

RH_1, Humidity in kitchen area, in %

T2, Temperature in living room area, in Celsius

RH_2, Humidity in living room area, in %

T3, Temperature in laundry room area

RH_3, Humidity in laundry room area, in %

T4, Temperature in office room, in Celsius

RH_4, Humidity in office room, in %

T5, Temperature in bathroom, in Celsius

RH_5, Humidity in bathroom, in %

T6, Temperature outside the building (north side), in Celsius

RH_6, Humidity outside the building (north side), in %

T7, Temperature in ironing room , in Celsius

RH_7, Humidity in ironing room, in %

T8, Temperature in teenager room 2, in Celsius

RH_8, Humidity in teenager room 2, in %

T9, Temperature in parents room, in Celsius

RH_9, Humidity in parents room, in %

To, Temperature outside (from Chievres weather station), in Celsius

Pressure (from Chievres weather station), in mm Hg

RH_out, Humidity outside (from Chievres weather station), in %

Wind speed (from Chievres weather station), in m/s

Visibility (from Chievres weather station), in km

Tdewpoint (from Chievres weather station), Â°C

rv1, Random variable 1, nondimensional

rv2, Random variable 2, nondimensional

In [17]:
# Encoding categorical variables
categorical_variables = ['waterfront', 'view', 'condition']

# Create an instance of label encoder
label_encoder = LabelEncoder()

# For loop for encoding labels
for category in categorical_variables:
    df[category] = label_encoder.fit_transform(df[category])

In [18]:
# Check to confirm the encoding made
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,zipcode,lat,long
0,629000615,20141022T000000,1495000,4,3.25,3070,10375,2.0,0,4,0,10,1962,98004,47.5862,-122.198
1,4141800215,20141126T000000,1495000,4,3.75,3770,4000,2.5,0,4,4,9,1916,98122,47.6157,-122.287
2,6448000020,20150129T000000,1490000,4,2.50,2420,18480,1.0,0,4,2,9,1967,98004,47.6214,-122.227
3,9522300010,20150331T000000,1490000,3,3.50,4560,14608,2.0,0,0,0,12,1990,98034,47.6995,-122.228
4,31000165,20140911T000000,1490000,5,3.50,3620,7821,2.0,0,0,0,10,1958,98040,47.5738,-122.215

In [19]:
# Split the dataset into target and features

# depend variable
y = df['price']

# independent variables
x = df.drop(['id', 'date', 'price', 'lat', 'long'], axis=1)

In [21]:
# Check y
y.head()

0    1495000
1    1495000
2    1490000
3    1490000
4    1490000
Name: price, dtype: int64

In [22]:
# Check x
x.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,zipcode
0,4,3.25,3070,10375,2.0,0,4,0,10,1962,98004
1,4,3.75,3770,4000,2.5,0,4,4,9,1916,98122
2,4,2.50,2420,18480,1.0,0,4,2,9,1967,98004
3,3,3.50,4560,14608,2.0,0,0,0,12,1990,98034
4,5,3.50,3620,7821,2.0,0,0,0,10,1958,98040

In [24]:
# Split the features and targets into training and test
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

### MODEL TRAINING

In [26]:
# Fit the model to the training data

# Select model
model = LinearRegression()

# Fit Model
model.fit(x_train,y_train)

LinearRegression()

### MODEL EVALUATION

In [27]:
# Predict the target values for the features dataset
y_prediction = model.predict(x_test)

In [37]:
# Convert the predicted values to a dataframe and merge it to the y_test
predicted_price = pd.DataFrame(y_prediction, columns=['predicted price'])
features_and_prediction = x_test.merge(predicted_price,how='inner', left_index=True, right_index=True)

In [38]:
# view our data to see the predicted prices
features_and_prediction.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,zipcode,predicted price
1493,4,2.25,2530,9200,1.0,0,4,4,9,1976,98006,397168.821162
2714,3,3.00,2630,10156,1.0,0,4,2,9,1987,98006,486231.942193
1512,6,3.00,3020,13783,2.0,0,4,0,8,1952,98040,305577.892485
2393,5,2.75,2990,6768,2.0,0,4,0,9,2014,98006,235632.971421
4186,4,2.50,3830,4644,2.0,0,4,0,8,2004,98065,617493.289820

In [40]:
# Append the y_test prices to the dataframe above to see the original vs predicted price

# Convert y_test to a dataframe and append to the dataframe
original_price = pd.DataFrame(y_prediction, columns=['original price'])
original_predicted_prices_df = features_and_prediction.merge(y_test,how='inner', left_index=True, right_index=True)

In [41]:
# print the head to see the df created
original_predicted_prices_df.head(30)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,zipcode,predicted price,price
1493,4,2.25,2530,9200,1.0,0,4,4,9,1976,98006,397168.821162,902000
2714,3,3.00,2630,10156,1.0,0,4,2,9,1987,98006,486231.942193,778000
1512,6,3.00,3020,13783,2.0,0,4,0,8,1952,98040,305577.892485,900000
2393,5,2.75,2990,6768,2.0,0,4,0,9,2014,98006,235632.971421,802541
4186,4,2.50,3830,4644,2.0,0,4,0,8,2004,98065,617493.289820,679975
3707,4,3.50,2850,2910,2.0,0,0,0,8,1905,98115,439076.952453,710000
3375,3,1.75,1650,5000,1.5,0,4,2,8,1900,98107,482482.037727,730000
3488,3,2.00,2050,3933,1.0,0,4,0,8,1926,98112,691204.822249,724800
3268,4,2.75,2260,12005,1.0,0,4,2,8,1956,98005,437092.667985,738950
1580,4,3.00,3240,5562,2.0,0,4,0,10,2013,98075,302600.426630,895000
2361,3,1.00,1440,10330,1.0,0,4,2,7,1952,98004,293372.286963,805500
474,4,3.50,3400,3850,2.5,0,4,0,10,2008,98112,902865.499752,1198000
385,5,3.25,3240,6551,1.5,0,1,2,9,1939,98115,373429.924216,1234580
4044,4,3.00,3400,292723,2.0,0,4,0,10,1998,98045,265093.945363,688000
843,4,1.00,3410,5000,2.0,0,4,4,8,1910,98144,407823.740683,1039000
1692,5,4.25,4720,18741,2.0,0,4,0,11,2005,98053,384718.477476,875000
640,4,1.50,2310,13300,1.0,0,4,0,7,1950,98004,497140.870549,1110000
1087,3,3.00,1850,5000,1.5,0,4,1,6,1900,98107,645869.897849,975000
4049,4,3.00,3000,4000,1.5,0,3,0,8,1913,98144,382467.245158,688000
3434,3,1.00,1000,19969,1.0,0,4,0,7,1951,98033,360951.167472,725000
2622,4,2.50,2960,4750,2.0,0,4,0,9,2005,98029,420819.647213,785000
2946,4,1.75,2770,8521,1.0,0,4,2,7,1953,98004,555572.894981,760000
4140,3,2.25,2270,23900,1.0,0,4,0,9,1975,98177,617772.358044,680000
4191,4,3.50,3420,49223,2.0,0,4,0,9,2004,98010,873388.213115,679000
1719,4,3.50,2850,4416,1.5,0,4,0,7,1926,98103,375169.507167,875000
3405,4,2.50,3290,5951,2.0,0,4,0,9,2003,98075,459655.807240,728000
1427,5,2.75,2580,7630,1.0,0,4,2,7,1954,98004,483853.271511,915000
3316,3,2.25,1490,1212,2.0,0,4,0,9,2011,98112,392678.280116,735000
718,3,2.50,3720,11610,2.0,0,4,0,11,1982,98074,459199.999519,1080000
447,4,3.50,3930,43560,2.0,0,4,0,10,2003,98072,336348.180751,1200000

From the above, we can see that the model is not close to predicting the prices accurately and we will confirm this when we evaluate our model

In [44]:
# Evaluate the model using mean square error
mse = mean_squared_error(y_test, y_prediction)
mse

23440850910.93753

In [47]:
# Evaluate the model using r_squared
r2_score = r2_score(y_test, y_prediction)
round(r2_score, 3)

0.595