### HAMOYE INTERNSHIP, SPRING, 2024: TAG ALONG CODE

Track: Data Science

Name: Oladokun Sunday Obasanjo

Student ID: 1876e6e9a101f000

Course: Introduction to Python for Machine Learning

In [1]:
# Import necessary libraries and packages
import pandas as pd

import numpy as np

In [2]:
# Load dataset and specify encoding as 'latin1'
df = pd.read_csv(r"C:\Users\Black Concept\WorkSpace\HAMOYE TAG ALONG CODES\HAMOYE--TAG-ALONG-CODES\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin1')

In [3]:
# Check the first few rows
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
# Inspect the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [5]:
# Get the unique country names
df.Area.unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "CÃ´te d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [6]:
# Area with least correlation with Element code

# Select the columns we are interested in
years = ['Y2015', 'Y2014', 'Y2016', 'Y2017']

# Correlation for each year against 'Element code'
for year in years:
    correlation = round(df['Element Code'].corr(df[year]),4) # round the correlation to 4 decimal places
    print(f"Correlation between 'Element Code' and '{year}': {correlation}") # print the correlations

Correlation between 'Element Code' and 'Y2015': 0.0239
Correlation between 'Element Code' and 'Y2014': 0.0245
Correlation between 'Element Code' and 'Y2016': 0.0234
Correlation between 'Element Code' and 'Y2017': 0.0243

In [7]:
# Total protein supply quantity in Madagascar 2015
madagascar_protein_2015 = df.groupby(['Area','Element'])['Y2015'].sum()['Madagascar'].loc['Protein supply quantity (g/capita/day)']
print(f'The total protein supply for Madagascar in 2015 is {madagascar_protein_2015}')

The total protein supply for Madagascar in 2015 is 173.05

In [8]:
# Area with 7th lowest sum in 2017
Area_7th_lowest_sum = df.groupby('Area')['Y2017'].sum().sort_values(ascending=False).tail(10)
Area_7th_lowest_sum

Area
Djibouti                 22729.91
Botswana                 22101.30
Lesotho                  21267.96
Guinea-Bissau            19102.77
Cabo Verde               14650.74
Sao Tome and Principe    12662.63
Seychelles                 442.34
Comoros                     59.84
Sudan (former)               0.00
Ethiopia PDR                 0.00
Name: Y2017, dtype: float64

In [9]:
# Total sum of wine produced in 2015 and 2018
wine_2015_2018 = df.groupby('Item')[['Y2015','Y2018']].sum()
filtered_wine_2015_2018 = wine_2015_2018[wine_2015_2018.index == 'Wine']
filtered_wine_2015_2018

        Y2015    Y2018
Item
Wine  4251.81  4039.32

In [10]:
# Year with highest sum of stock variation
stock_variation = df.groupby('Item')[['Y2014','Y2015','Y2016','Y2017','Y2018']].sum()

# Loop through the aggregated data and sum the stocks for each year
for item in stock_variation[['Y2014','Y2015','Y2016','Y2017','Y2018']]:
    sum = stock_variation[item].sum()
    highest_sum = sum.max()
    print(f'The total sum for {item} is {sum}')

The total sum for Y2014 is 7965086.13
The total sum for Y2015 is 8032340.23
The total sum for Y2016 is 8112472.649999999
The total sum for Y2017 is 8375729.1899999995
The total sum for Y2018 is 8554629.96

In [11]:
# Total number of processing in 2017
processing_2017 = df.groupby('Element')['Y2017'].sum()['Processing']
print(f'The total sum of processing carried out in 2017 is {processing_2017}')

The total sum of processing carried out in 2017 is 292836.0

In [12]:
# Unique countires number
df.Area.nunique()

49

In [13]:
# Total number of missing values and the percentage in 2014, get percentage too
years = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']

for year in years:
    num_missing_values = df[year].isna().sum()
    percentage_missing_values = round((num_missing_values/df.shape[0]) * (100),3)
    print(f'The total number of missing values for {year} is {num_missing_values} and the percentage is {percentage_missing_values}')

The total number of missing values for Y2014 is 1589 and the percentage is 2.607
The total number of missing values for Y2015 is 1548 and the percentage is 2.54
The total number of missing values for Y2016 is 1535 and the percentage is 2.519
The total number of missing values for Y2017 is 1506 and the percentage is 2.471
The total number of missing values for Y2018 is 1436 and the percentage is 2.356

In [14]:
# Area with highest sum in 2017
stock_variation = df.groupby('Area')['Y2017'].sum()
stock_variation.idxmax()

'Nigeria'

In [15]:
# Mean and Std for 2017 to 2 decimal places

std_2017 = df['Y2017'].std()
mean_2017 = df['Y2017'].mean()

print(f'The standard deviation for the dataset for 2017 is {std_2017} and the mean is {mean_2017}')

The standard deviation for the dataset for 2017 is 1671.8623590567995 and the mean is 140.9177648602722